
<!DOCTYPE html>
<html>
<head>
    <title>Vista de Redirección</title>
    <!-- Agrega los enlaces a los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Vista de Redirección</h1>

        <p>Presiona el siguiente botón para ir a la vista de gestión de usuarios:</p>
        <li><a href="/Admin/UserAdministration">Gestionar Usuarios</a></li>
    </div>

    <!-- Agrega los scripts de Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </script>
</body>
</html>

