@{
    ViewData["Title"] = "JT Videoteca";
}
<style>

    .welcome-container {
        text-align: center;
        margin-top: 50px;
    }

    .welcome-title {
        font-size: 36px;
        color: #333;
    }

    .welcome-description {
        font-size: 18px;
        color: #666;
        margin-top: 20px;
    }
</style>
<div class="welcome-container">
    <h1 class="welcome-title">¡Bienvenido a JT Videoteca!</h1>
    <p class="welcome-description">Disfruta de nuestra amplia selección de películas y series.</p>
</div>
