@{
    ViewData["Title"] = "Bienvenido al proyecto Videoteca";
}

<div class="text-center" style="background-color: lightgreen; padding: 50px; color: black;">
    <h1 class="display-4">Bienvenido al proyecto Videoteca</h1>
</div>
